{{ define "main" }}

  {{ .Content }}

  {{ with .Params.observations }}
    <table>
      <thead>
        <tr><th>ID</th><th>Height (cm)</th><th>Number of leaves</th><th>Status of leaves</th><th>Lushness</th></tr>
        <tr>
          <td>See layout</td>
          <td>Rounded to nearest cm</td>
          <td>Rounded to nearest 5</td>
          <td>None, Quickening, Partial, Full</td>
          <td>Arbitrary from 0 to 5</td>
        </tr>
      </thead>
      <tbody>
        {{ range . }}
          <tr>
            <td class="id">{{ .id }}</td>
            <td class="number">{{ .height }}</td>
            <td class="number">{{ .leaves }}</td>
            <td class="text">{{ .status | humanize }}</td>
            <td class="number">{{ .lushness }}</td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  {{ end  }}

{{ end }}
