<footer>
  {{ $thisYear := now.Format "2006" }}
  {{ $startYear := .Site.Params.copyrightStart }}
  {{ $notice := printf "%s–%s" $startYear $thisYear }}
  {{ if eq $startYear $thisYear }}
    {{ $notice = $thisYear }}
  {{ end }}
  <p>Copyright {{ $notice }} {{ .Site.Params.author }}.</p>
</footer>