{{ $image := .Site.Params.Image }}
{{- with .Params.Image -}}
  {{ $imageRes := $.Page.Resources.GetMatch . }}
  {{ $image = (path.Join (path.Dir $.Page.RelPermalink) $imageRes) }}
{{- end -}}
<header style="background-image: url({{ $image | relURL }});">
  <h1>{{- with .Title -}}
    {{ . }}
  {{- else -}}
    {{ .Site.Title }}
  {{- end -}}</h1>
</header>

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/posts">News</a></li>
    <li><a href="/observations">Data</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>