{{ define "main" }}
<article class="post">
  <header>
    <p>
      By {{ .Params.Author }}
    </p>
    <p>
      Posted {{ .Date.Format "January 2, 2006" }}
    </p>
  </header>

  <section class="body">
    {{ .Content }}
  </section>
</article>
{{ end }}
