html, body {
  margin: 0;
  font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

body > header, nav, main, footer {
  padding: 0 5vw;
}

body > header {
  height: 20em;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  border-bottom: 3px solid #333;
}

h1 {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 5rem 0;
  padding: 0.5em;
}

nav {
  display: block;
  background-color: #333;
  color: #fff;
}

footer {
  background-color: #333;
  color: #fff;
  font-size: 80%;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

footer p {
  margin: 0;
}

nav > ul {
  list-style: none;
  padding: 0;
  margin: 0.8em 0;
  display: flex;
  flex-direction: column;
}

nav > ul > li {
  flex: 1;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #fff;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
}
th, td {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-collapse: collapse;
}
th, td {
  padding: 0.3em;
}
tr:nth-child(2n) {
  background-color: #eee;
}
thead th {
  background-color: black;
  color: white;
  border-bottom: none;
}
thead td {
  background-color: black;
  color: white;
  font-size: 80%;
  border-top: none;
}
td.id {
  text-align: center;
}
td.number {
  text-align: end;
}
td.text {
  text-align: start;
}

@media only screen and (min-width: 768px) {
  nav {
    display: inline-block;
    padding-right: 1em;
    position: relative;
    top: -3em;
  }

  nav > ul {
    flex-direction: row;
    justify-content: flex-start;
  }

  nav > ul > li {
    flex: none;
    padding: 0 1em;
  }

  nav > ul > li:first-child {
    padding-left: 0;
  }
}
